/*
 * Copyright (C) 2013-2015 Freescale Semiconductor, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#include "imx6dl.dtsi"
#include "imx6qdl-sabresd.dtsi"

/ {
	model = "Freescale i.MX6 DualLite SABRE Smart Device Board";
	compatible = "fsl,imx6dl-sabresd", "fsl,imx6dl";

	memory: memory {
		reg = <0x10000000 0x20000000>;
	};

};

&battery {
	offset-charger = <1485>;
	offset-discharger = <1464>;
	offset-usb-charger = <1285>;
	status = "disabled";
};

&iomuxc {
        epdc {
                pinctrl_epdc_0: epdcgrp-0 {
                        fsl,pins = <
                                MX6QDL_PAD_EIM_A16__EPDC_DATA00    0x80000000
                                MX6QDL_PAD_EIM_DA10__EPDC_DATA01   0x80000000
                                MX6QDL_PAD_EIM_DA12__EPDC_DATA02   0x80000000
                                MX6QDL_PAD_EIM_DA11__EPDC_DATA03   0x80000000
                                MX6QDL_PAD_EIM_LBA__EPDC_DATA04    0x80000000
                                MX6QDL_PAD_EIM_EB2__EPDC_DATA05    0x80000000
                                MX6QDL_PAD_EIM_CS0__EPDC_DATA06    0x80000000
                                MX6QDL_PAD_EIM_RW__EPDC_DATA07     0x80000000
                                MX6QDL_PAD_EIM_A21__EPDC_GDCLK     0x80000000
                                MX6QDL_PAD_EIM_A22__EPDC_GDSP      0x80000000
                                MX6QDL_PAD_EIM_A23__EPDC_GDOE      0x80000000
                                MX6QDL_PAD_EIM_A24__EPDC_GDRL      0x80000000
                                MX6QDL_PAD_EIM_D31__EPDC_SDCLK_P   0x80000000
                                MX6QDL_PAD_EIM_D27__EPDC_SDOE      0x80000000
                                MX6QDL_PAD_EIM_DA1__EPDC_SDLE      0x80000000
                                MX6QDL_PAD_EIM_EB1__EPDC_SDSHR     0x80000000
                                MX6QDL_PAD_EIM_DA2__EPDC_BDR0      0x80000000
                                MX6QDL_PAD_EIM_DA4__EPDC_SDCE0     0x80000000
                                MX6QDL_PAD_EIM_DA5__EPDC_SDCE1     0x80000000
                                MX6QDL_PAD_EIM_DA6__EPDC_SDCE2     0x80000000
                        >;
                };
        };

	uart4 {
		pinctrl_uart4_3: uart4grp-3 {
			fsl,pins = <
				MX6QDL_PAD_KEY_COL0__UART4_TX_DATA 	0x1b0b1
				MX6QDL_PAD_KEY_ROW0__UART4_RX_DATA 	0x1b0b1
			>;
		};
	};
	pcie {
		pinctrl_pcie_1: pciegrp-1 {
			fsl,pins = <
				MX6QDL_PAD_SD3_DAT6__GPIO6_IO18 0x1b0b0
			>;
		};
	};

};

&epdc {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_epdc_0>;
        V3P3-supply = <&V3P3_reg>;
        VCOM-supply = <&VCOM_reg>;
        DISPLAY-supply = <&DISPLAY_reg>;
        status = "disabled";
};

&i2c3 {
	status = "disabled";
        max17135@48 {
                compatible = "maxim,max17135";
                reg = <0x48>;
                vneg_pwrup = <1>;
                gvee_pwrup = <1>;
                vpos_pwrup = <2>;
                gvdd_pwrup = <1>;
                gvdd_pwrdn = <1>;
                vpos_pwrdn = <2>;
                gvee_pwrdn = <1>;
                vneg_pwrdn = <1>;
                SENSOR-supply = <&reg_sensor>;
                gpio_pmic_pwrgood = <&gpio2 21 0>;
                gpio_pmic_vcom_ctrl = <&gpio3 17 0>;
                gpio_pmic_wakeup = <&gpio3 20 0>;
                gpio_pmic_v3p3 = <&gpio2 20 0>;
                gpio_pmic_intr = <&gpio2 25 0>;

                regulators {
                        DISPLAY_reg: DISPLAY {
                                regulator-name = "DISPLAY";
                        };

                        GVDD_reg: GVDD {
                                /* 20v */
                                regulator-name = "GVDD";
                        };

                        GVEE_reg: GVEE {
                                /* -22v */
                                regulator-name = "GVEE";
                        };

                        HVINN_reg: HVINN {
                                /* -22v */
                                regulator-name = "HVINN";
                        };

                        HVINP_reg: HVINP {
                                /* 20v */
                                regulator-name = "HVINP";
                        };

                        VCOM_reg: VCOM {
                                regulator-name = "VCOM";
                                /* 2's-compliment, -4325000 */
                                regulator-min-microvolt = <0xffbe0178>;
                                /* 2's-compliment, -500000 */
                                regulator-max-microvolt = <0xfff85ee0>;
                        };

                        VNEG_reg: VNEG {
                                /* -15v */
                                regulator-name = "VNEG";
                        };

                        VPOS_reg: VPOS {
                                /* 15v */
                                regulator-name = "VPOS";
                        };

                        V3P3_reg: V3P3 {
                                regulator-name = "V3P3";
                        };
                };
        };
};

&ldb {
	lvds-channel@0 {
		crtc = "ipu1-di0";
	};

	lvds-channel@1 {
		crtc = "ipu1-di1";
	};
};

&mxcfb1 {
	status = "okay";
};

&mxcfb2 {
	status = "okay";
};

&pxp {
	status = "okay";
};

&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";

	pmic: pfuze100@08 {
		compatible = "fsl,pfuze200";
		reg = <0x08>;

		regulators {
			sw1a_reg: sw1ab {
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1875000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <6250>;
			};

			sw2_reg: sw2 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw3a_reg: sw3a {
				regulator-min-microvolt = <400000>;
				regulator-max-microvolt = <1975000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw3b_reg: sw3b {
				regulator-min-microvolt = <400000>;
				regulator-max-microvolt = <1975000>;
				regulator-boot-on;
				regulator-always-on;
			};

			swbst_reg: swbst {
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5150000>;
			};

			snvs_reg: vsnvs {
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <3000000>;
				regulator-boot-on;
				regulator-always-on;
			};

			vref_reg: vrefddr {
				regulator-boot-on;
				regulator-always-on;
			};

			vgen1_reg: vgen1 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1550000>;
			};

			vgen2_reg: vgen2 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1550000>;
			};

			vgen3_reg: vgen3 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
			};

			vgen4_reg: vgen4 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen5_reg: vgen5 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen6_reg: vgen6 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};
		};
	};
};

&uart4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4_3>;
};

&pcie {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie_1>;
	reset-gpio = <&gpio6 18 0>;

	clocks = <&clks IMX6QDL_CLK_PCIE_AXI>,
		<&clks IMX6QDL_CLK_LVDS2_GATE>,
		<&clks IMX6QDL_CLK_PCIE_REF_125M>;

	status = "okay";
};

&pwm1 {
	status = "disabled";
};
&pwm2 {
	status = "disabled";
};
&pwm3 {
	status = "disabled";
};
&pwm4 {
	status = "disabled";
};

&uart1 {
	status = "disabled";
};
&uart2 {
	status = "disabled";
};
&uart3 {
	status = "disabled";
};
&uart5 {
	status = "disabled";
};
